{% extends 'base.html' %}
{% block heads %}
    <link rel="stylesheet" href="/css/import_css/bootstrap-table.min.css">
{% endblock %}

{% block content %}
    <div class="row">
        <div id="assessmentId" style="display: none">{{ current_assessment.id }}</div>
        <p id="courseTitle" class="display-4">{{ current_assessment.module }}</p>
    </div>
    <div class="row">
        <h3><b>Title: </b>{{ current_assessment.title }}</h3>
        <!-- Modal -->
        <div class="modal fade" id="assessmentDetail" data-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Assessment Detail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-formative" role="tabpanel"
                                 aria-labelledby="pills-formative-tab">
                                <form>
                                    <div class="form-group">
                                        <label for="formativeTitle">Title</label>
                                        <input type="text" class="form-control" id="formativeTitle"
                                               placeholder="Title">
                                        <h4 id="formativeTitleVerification"></h4>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col">
                                            <label for="releaseTime">Release Time</label>
                                            <input type="text" class="form-control" id="releaseTime"
                                                   placeholder="Release Time">
                                            <h4 id="releaseTimeVerification"></h4>
                                        </div>
                                        <div class="form-group col">
                                            <label for="dueDate">Due Date</label>
                                            <input type="text" class="form-control" id="dueDate"
                                                   placeholder="Due Date">
                                            <h4 id="dueDateVerification"></h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col">
                                            <label for="countIn">Count In</label>
                                            <input type="text" class="form-control" id="countIn"
                                                   placeholder="Count In">
                                            <h4 id="countInVerification"></h4>
                                        </div>
                                        <div class="form-group col">
                                            <label for="attemptTime">Attempt Times</label>
                                            <input type="text" class="form-control" id="attemptTime"
                                                   placeholder="attemptTime">
                                            <h4 id="attemptTimeVerification"></h4>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="attemptTimeCheckbox">
                                                <label class="custom-control-label"
                                                       for="attemptTimeCheckbox">Unlimited</label>
                                            </div>
                                        </div>
                                        <div class="form-group col">
                                            <label for="timeLimit">Time Limit</label>
                                            <input type="text" class="form-control" id="timeLimit"
                                                   placeholder="Time Limit">
                                            <h4 id="timeLimitVerification"></h4>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea class="form-control"
                                                  id="description"></textarea>
                                        <h4 id="descriptionVerification"></h4>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                onclick="updateAssessment()">Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h4><b>Description: </b>{{ current_assessment.description }}</h4>
    </div>
    <button type="button" class="btn btn-success" id="editAssessmentButton" data-toggle="modal"
            data-target="#assessmentDetail" onclick="editAssessment()">
        Edit / Assessment Detail
    </button>
    <div class="row">
        <div class="col">
            <p class="display-4">All questions</p>
            <button class="btn btn-success" onclick="addQuestionToCurrent()">Add question</button>
            <table id="allQuestionTable" data-search="true"></table>
        </div>
        <div class="col">
            <p class="display-4">Current questions</p>
            <button class="btn btn-danger" onclick="deleteQuestionFromCurrent()">Delete question</button>
            <table id="questionTable" data-search="true"></table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/js/import_js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/js/import_js/laydate.js"></script>
    <script>
        $('#allQuestionTable').bootstrapTable({
            url: "{{ url_for('question_bp.question_data',module='All' ) }}".replace("All", $("#courseTitle").text()),  // 请求数据源的路由
            dataType: "json",
            pagination: true, //前端处理分页
            singleSelect: false,//是否只能单选
            search: true, //显示搜索框，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            {#toolbar: '#toolbar-' + courseid, //工具按钮用哪个容器#}
            striped: true, //是否显示行间隔色
            cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pageNumber: 1, //初始化加载第10页，默认第一页
            pageSize: 10, //每页的记录行数（*）
            pageList: [10, 20, 50, 100], //可供选择的每页的行数（*）
            // strictSearch: true,//设置为 true启用 全匹配搜索，false为模糊搜索
            // showColumns: true, //显示内容列下拉框
            // showRefresh: true, //显示刷新按钮
            minimumCountColumns: 2, //当列数小于此值时，将隐藏内容列下拉框
            // clickToSelect: true, //设置true， 将在点击某行时，自动勾选rediobox 和 checkbox
            // height: 500, //表格高度，如果没有设置height属性，表格自动根据记录条数决定表格高度
            uniqueId: "id", //每一行的唯一标识，一般为主键列
            // showToggle: true, //是否显示详细视图和列表视图的切换按钮
            cardView: true, //是否显示详细视图
            // detailView: true, //是否显示父子表，设置为 true 可以显示详细页面模式,在每行最前边显示+号#}
            sidePagination: "client", //分页方式：client客户端分页，server服务端分页（*）
            columns: [
                {
                    title: "selectAll",
                    field: "select",
                    checkbox: true,
                    align: "center"
                }, {
                    field: 'id',
                    title: 'Id'
                }, {
                    field: 'question',
                    title: 'Question',
                }, {
                    field: 'description',
                    title: 'Description'
                }, {
                    field: 'type',
                    title: 'Type'
                }, {
                    field: 'option',
                    title: 'Option',
                    formatter: function (value, row, index) {
                        return value.split("|").join(" ");
                    }
                }, {
                    field: 'answer',
                    title: 'Answer'
                }, {
                    field: 'feedback',
                    title: 'Feedback'
                },]
        });

        $('#questionTable').bootstrapTable({
            url: "{{ url_for('formative_blueprint.assessment_questions',assessment_id='assessment_id' ) }}".replace("assessment_id", $("#assessmentId").text()),  // 请求数据源的路由
            dataType: "json",
            pagination: true, //前端处理分页
            singleSelect: false,//是否只能单选
            search: true, //显示搜索框，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            {#toolbar: '#toolbar-' + courseid, //工具按钮用哪个容器#}
            striped: true, //是否显示行间隔色
            cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pageNumber: 1, //初始化加载第10页，默认第一页
            pageSize: 10, //每页的记录行数（*）
            pageList: [10, 20, 50, 100], //可供选择的每页的行数（*）
            strictSearch: true,//设置为 true启用 全匹配搜索，false为模糊搜索
            // showColumns: true, //显示内容列下拉框
            // showRefresh: true, //显示刷新按钮
            minimumCountColumns: 2, //当列数小于此值时，将隐藏内容列下拉框
            // clickToSelect: true, //设置true， 将在点击某行时，自动勾选rediobox 和 checkbox
            // height: 500, //表格高度，如果没有设置height属性，表格自动根据记录条数决定表格高度
            uniqueId: "id", //每一行的唯一标识，一般为主键列
            //showToggle: true, //是否显示详细视图和列表视图的切换按钮
            cardView: true, //是否显示详细视图
            // detailView: true, //是否显示父子表，设置为 true 可以显示详细页面模式,在每行最前边显示+号#}
            sidePagination: "client", //分页方式：client客户端分页，server服务端分页（*）
            columns: [
                {
                    title: "selectAll",
                    field: "select",
                    checkbox: true,
                    align: "center"
                }, {
                    field: 'id',
                    title: 'Id'
                }, {
                    field: 'question',
                    title: 'Question'
                }, {
                    field: 'description',
                    title: 'Description'
                }, {
                    field: 'type',
                    title: 'Type'
                }, {
                    field: 'option',
                    title: 'Option',
                    formatter: function (value, row, index) {
                        return value.split("|").join(" ");
                    }
                }, {
                    field: 'answer',
                    title: 'Answer'
                }, {
                    field: 'feedback',
                    title: 'Feedback'
                },]
        });

        laydate.render({
            elem: '#releaseTime',
            lang: 'en',
            type: 'datetime'
        });
        laydate.render({
            elem: '#dueDate',
            lang: 'en',
            type: 'datetime'
        });

        function addQuestionToCurrent() {
            let selectedQuestions = $('#allQuestionTable').bootstrapTable('getSelections');
            let param = "";
            selectedQuestions.forEach(function (item) {
                param += item["id"] + "=id&";
            })
            param = param.substring(0, param.length - 1);
            $.post('{{ url_for('formative_blueprint.add_question_to_assessment', assessment_id='assessmentId') }}'.replace("assessmentId", {{ current_assessment.id }}), param, function (data) {
                if (!jQuery.isEmptyObject(data)) {
                    alert(data);
                    $('#allQuestionTable').bootstrapTable('refresh');
                    $('#questionTable').bootstrapTable('refresh');
                }
            })
        }

        function deleteQuestionFromCurrent() {
            let selectedQuestions = $('#questionTable').bootstrapTable('getSelections');
            let param = "";
            selectedQuestions.forEach(function (item) {
                param += item["id"] + "=id&";
            })
            param = param.substring(0, param.length - 1);
            $.post('{{ url_for('formative_blueprint.delete_question_from_assessment', assessment_id='assessmentId') }}'.replace("assessmentId", {{ current_assessment.id }}), param, function (data) {
                if (!jQuery.isEmptyObject(data)) {
                    alert(data);
                    $('#questionTable').bootstrapTable('refresh');
                }
            })
        }

        $(document).ready(function () {
            $("#formativeTitle").bind('input propertychange', monitorInput);
            $("#releaseTime").bind('input propertychange', monitorInput);
            $("#dueDate").bind('input propertychange', monitorInput);
            $("#countIn").bind('input propertychange', monitorInput);
            $("#attemptTime").bind('input propertychange', monitorInput);
            $("#timeLimit").bind('input propertychange', monitorInput);
            $("#description").bind('input propertychange', monitorInput);
        })

        function monitorInput() {
            if ($.trim($("#formativeTitle").val()).length == 0) {
                $("#formativeTitle").attr("class", "form-control is-invalid");
                $("#formativeTitleVerification").attr("class", "invalid-feedback");
                $("#formativeTitleVerification").html("Invalid title");
            } else {
                $("#formativeTitle").attr("class", "form-control is-valid");
                $("#formativeTitleVerification").attr("class", "valid-feedback");
                $("#formativeTitleVerification").html("Valid title");
            }

            if ($.trim($("#releaseTime").val()).length == 0) {
                $("#releaseTime").attr("class", "form-control is-invalid");
                $("#releaseTimeVerification").attr("class", "invalid-feedback");
                $("#releaseTimeVerification").html("Invalid release time");
            } else {
                $("#releaseTime").attr("class", "form-control is-valid");
                $("#releaseTimeVerification").attr("class", "valid-feedback");
                $("#releaseTimeVerification").html("Valid release time");
            }

            if ($.trim($("#dueDate").val()).length == 0) {
                $("#dueDate").attr("class", "form-control is-invalid");
                $("#dueDateVerification").attr("class", "invalid-feedback");
                $("#dueDateVerification").html("Invalid due date");
            } else {
                $("#dueDate").attr("class", "form-control is-valid");
                $("#dueDateVerification").attr("class", "valid-feedback");
                $("#dueDateVerification").html("Valid due date");
            }

            if ($.trim($("#countIn").val()).length == 0) {
                $("#countIn").attr("class", "form-control is-invalid");
                $("#countInVerification").attr("class", "invalid-feedback");
                $("#countInVerification").html("Invalid count in");
            } else {
                $("#countIn").attr("class", "form-control is-valid");
                $("#countInVerification").attr("class", "valid-feedback");
                $("#countInVerification").html("Valid count in");
            }

            if ($("#attemptTime").prop("readonly") == true) {
                $("#attemptTime").attr("class", "form-control is-valid");
                $("#attemptTimeVerification").attr("class", "valid-feedback");
                $("#attemptTimeVerification").html("Valid attempt time");
            } else {
                if ($.trim($("#attemptTime").val()).length > 0) {
                    $("#attemptTime").attr("class", "form-control is-valid");
                    $("#attemptTimeVerification").attr("class", "valid-feedback");
                    $("#attemptTimeVerification").html("Valid attempt time");
                } else {
                    $("#attemptTime").attr("class", "form-control is-invalid");
                    $("#attemptTimeVerification").attr("class", "invalid-feedback");
                    $("#attemptTimeVerification").html("Invalid attempt time");
                }
            }

            if ($.trim($("#timeLimit").val()).length == 0) {
                $("#timeLimit").attr("class", "form-control is-invalid");
                $("#timeLimitVerification").attr("class", "invalid-feedback");
                $("#timeLimitVerification").html("Invalid time limit");
            } else {
                $("#timeLimit").attr("class", "form-control is-valid");
                $("#timeLimitVerification").attr("class", "valid-feedback");
                $("#timeLimitVerification").html("Valid time limit");
            }

            if ($.trim($("#description").val()).length == 0) {
                $("#description").attr("class", "form-control is-invalid");
                $("#descriptionVerification").attr("class", "invalid-feedback");
                $("#descriptionVerification").html("Invalid description");
            } else {
                $("#description").attr("class", "form-control is-valid");
                $("#descriptionVerification").attr("class", "valid-feedback");
                $("#descriptionVerification").html("Valid description");
            }
        }

        function editAssessment() {
            $("#formativeTitle").val("{{ current_assessment.title }}");
            $("#releaseTime").val("{{ current_assessment.availability_date }}");
            $("#dueDate").val("{{ current_assessment.due_date }}");
            $("#countIn").val("{{ current_assessment.count_in }}");
            if ({{ current_assessment.attempt }} == -1
        )
            {
                $("#attemptTime").val("");
                $("#attemptTime").prop('readonly', true);
                $("#attemptTimeCheckbox")[0].checked = true;
            }
        else
            {
                $("#attemptTime").val("{{ current_assessment.attempt }}");
            }

            $("#timeLimit").val("{{ current_assessment.timelimit }}");
            $("#description").val("{{ current_assessment.description }}");
        }

        $("#attemptTimeCheckbox").on('change', function () {
            let tempTitle = $("#formativeTitle").val();
            $("#formativeTitle").val("");
            $("#formativeTitle").val(tempTitle);
            $("#formativeTitle").trigger("propertychange");
            if ($("#attemptTimeCheckbox").is(':checked')) {
                $("#attemptTime").prop("readonly", true);
                $("#attemptTime").val("");
                $("#attemptTime").attr("class", "form-control is-valid");
                $("#attemptTimeVerification").attr("class", "valid-feedback");
                $("#attemptTimeVerification").html("Valid attempt time");
            } else {
                $("#attemptTime").prop('readonly', false);
                $("#attemptTime").attr("class", "form-control is-invalid");
                $("#attemptTimeVerification").attr("class", "invalid-feedback");
                $("#attemptTimeVerification").html("Invalid attempt time");
            }
        })

        function updateAssessment() {
            if ($("#formativeTitleVerification").attr("class") == "valid-feedback"
                &&
                $("#releaseTimeVerification").attr("class") == "valid-feedback"
                &&
                $("#dueDateVerification").attr("class") == "valid-feedback"
                &&
                $("#countInVerification").attr("class") == "valid-feedback"
                &&
                $("#attemptTimeVerification").attr("class") == "valid-feedback"
                &&
                $("#timeLimitVerification").attr("class") == "valid-feedback"
                &&
                $("#descriptionVerification").attr("class") == "valid-feedback") {
                let formativeTitle = $.trim($('#formativeTitle').val());
                let releaseTime = $.trim($('#releaseTime').val());
                let dueDate = $.trim($('#dueDate').val());
                let countIn = $.trim($('#countIn').val());

                let attemptTime = 0
                if ($('#attemptTimeCheckbox').is(':checked') == true) {
                    attemptTime = '-1';
                } else {
                    attemptTime = $.trim($('#attemptTime').val());
                }

                let timeLimit = $.trim($('#timeLimit').val());
                let description = $.trim($('#description').val());


                let param = "formativeTitle=" + formativeTitle + "&releaseTime=" + releaseTime + "&dueDate=" + dueDate + "&countIn=" + countIn + "&attemptTime=" + attemptTime + "&timeLimit=" + timeLimit + "&description=" + description + "&module=" + module;
                $.post('/assessments/assessments_management/formative/update/' +{{ current_assessment.id }}, param, function (data) {
                    if (!jQuery.isEmptyObject(data)) {
                        alert(data);
                        setTimeout(function () {
                            location.reload();
                        }, 200);
                    }
                })
            } else {
                alert("update error");
            }
        }

    </script>
{% endblock %}